extend layout
block content
  script(type="text/javascript", src="js/chat.js")
  script(src='/socket.io/socket.io.js')
  .h3 Welcome to a sample chat application.
  .row
    .col-lg-12
      #chatEntries
        #messages
        .row
          #entries.col-lg-12
            #form
              .input-group.input-group-sm(style ="width:100%")
                input.form-control#messageInput(type='text', placeholder='Type Message...')
                button#send.btn.btn-lg(type='button')
                    span.glyphicon.glyphicon-send
                    |   Send
  #modalUsername.modal
    .modal-dialog
      .modal-content
        form
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
            h4.modal-title Welcome to the chat
          .modal-body
            p Please enter your username:
            input#username(type="text", required="required").form-control
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button#btnUsername.btn.btn-primary.btn-default(type='button') Enter
  block sidebar
  .widget
    h4
     | Members



