head
  title #{title} - My Site
  link(rel='stylesheet', href='/stylesheets/style.css')

  script(src="http://codeorigin.jquery.com/jquery-1.10.2.js")
  // Latest compiled and minified JavaScript 
  script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js')

  //Latest compiled and minified CSS 
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')

  //Optional theme 
  link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css')

  script(src='http://localhost:3000/socket.io/socket.io.js')