extend layout
block content
  script
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  h1 Introduction
  p
    | This is just a sample site that includes
    | all the different things I've learnt from
    | node.js and related modules.
    | It's nothing big but will give me an idea
    | in the future if I ever need it.
  p
    | Node.js is a software platform that is used 
    | to build scalable network (especially server-side) applications. 
    | Node.js utilizes JavaScript as its scripting language, 
    | and achieves high throughput via non-blocking I/O and a single-threaded event loop.

block sidebar
    h1 Some sidebar information
    p
      | Might so a weather widget. Who knows!

    .controls
      input.field#field(style='width:350px;')
      input.send#send(type='button', value='send')
      br
      br
      #chatContent