!!!5
html
  include header
  body
    header
      h1 Sample node.js site.
      include nav
    .clearfix
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus